<%= form_with(model: post) do |form| %>
  <div class="d-flex flex-column">
    <div>
      <%= form.label :title, class: "d-block mb-2" %>
      <%= form.text_field :title, class:"w-100 p-2 rounded-2 border" %>
    </div>
    <div class="my-3">
      <%= form.label :content, class: "d-block mb-2" %>
      <%= form.text_area :content, class:"w-100 p-2 rounded-2", rows: 10, cols: 30 %>
    </div>
    <div class="mb-3">
      <%= form.submit "Update", class: "btn btn-sm btn-outline-warning" %>
    </div>
  </div>
<% end %>
